[submodule "Socket.IO"]
	path = Socket.IO
	url = https://github.com/LearnBoost/Socket.IO.git
[submodule "Socket.IO-node"]
	path = Socket.IO-node
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "node-mongodb-native"]
	path = node-mongodb-native
	url = https://github.com/christkv/node-mongodb-native.git
